@import "reset.css";
@import "typography.css";

:root {
  --hob-font--regular: GT Haptik;
  --hob-font--medium: GT Haptik Medium;

  --hob-color--dark: #000;
  --hob-color--light: #e6e6e6;

  --hob-color--blue: #57ccf2;
  --hob-color--brown: #8c6b58;
  --hob-color--green: #00ad71;
  --hob-color--pink: #ffa8f4;
  --hob-color--purple: #7d37a8;
  --hob-color--yellow: #faba05;

  --hob-color--primary: var(--hob-color--dark);
  --hob-color--primary--1: var(--hob-color--dark);
  --hob-color-alt--primary: var(--hob-color--light);
  --hob-color--secondary: var(--hob-color--light);
  --hob-color-alt--secondary: var(--hob-color--dark);
  --hob-color--error: #fa4236;

  --hob-border-color: var(--hob-color--dark);
  --hob-border-width: 1px;
  --hob-border-style: solid;
  --hob-border: var(--hob-border-width) var(--hob-border-style)
    var(--hob-border-color);

  --hob-transition-duration: 300ms;
  --hob-transition-timing-function: linear;
  --hob-transition-delay: 0;
  --hob-transition: var(--hob-transition-duration)
    var(--hob-transition-timing-function) var(--hob-transition-delay);
}

body,
button {
  background-color: var(--hob-color--light);
  font-family: var(--hob-font--regular);
}
