@import "reset.css";
@import "typography.css";

:root {
  --hob-font--regular: GT Haptik;
  --hob-font--medium: GT Haptik Medium;

  --hob-color--dark: #000;
  --hob-color--light: #e6e6e6;
  --hob-color--primary: var(--hob-color--dark);
  --hob-color--primary--1: var(--hob-color--dark);
  --hob-color-alt--primary: var(--hob-color--light);
  --hob-color--secondary: var(--hob-color--light);
  --hob-color-alt--secondary: var(--hob-color--dark);

  --hob-border-color: var(--hob-color--dark);
  --hob-border-width: 1px;
  --hob-border-style: solid;
  --hob-border: var(--hob-border-width) var(--hob-border-style)
    var(--hob-border-color);
}

body,
button {
  background-color: var(--hob-color--light);
  font-family: var(--hob-font--regular);
}
